services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://alimin:alimin2026@db:5432/db-alimin?sslmode=disable
      - TBK_ENV=production
      - TBK_API_KEY_ID=597053051885
      - TBK_API_KEY_SECRET=cca31af3-bd2d-416e-87f3-e4f590342781
      - WEBPAY_RETURN_URL=https://alimin.easypanel.host/api/webpay/commit
      - FINAL_OK_URL=https://alimin.easypanel.host/pago-exito
      - FINAL_FAIL_URL=https://alimin.easypanel.host/pago-fallo
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: alimin
      POSTGRES_PASSWORD: alimin2026
      POSTGRES_DB: db-alimin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
